@model List<PasswordEntry>

@{
    ViewData["Title"] = "Password List";
}


<h1>@ViewData["Title"]</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>App</th>
        <th>User Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var passwordEntry in Model)
    {
        <tr>
            <td>@passwordEntry.Id</td>
            <td>@passwordEntry.Category</td>
            <td>@passwordEntry.App</td>
            <td>@passwordEntry.UserName</td>
            <td>
                <a href="@Url.Action("GetPassword", "Password", new { id = passwordEntry.Id })">View</a> |
                <a href="@Url.Action("GetDecryptedPassword", "Password", new { id = passwordEntry.Id })">View Decrypted</a>
            </td>
        </tr>
    }
</table>
