@using System.Text

@model Tuple<PasswordEntry, bool>
@{
    ViewData["Title"] = "Password Details";
}

<div class="password-details">
    <h2>Password Details</h2>
    <div class="field">
        <label>Category:</label>
        <span>@Model.Item1.Category</span>
    </div>
    <div class="field">
        <label>Application:</label>
        <span>@Model.Item1.App</span>
    </div>
    <div class="field">
        <label>User Name:</label>
        <span>@Model.Item1.UserName</span>
    </div>
    <div class="field">

        @if (!Model.Item2)
        {
            <label>Encrypted Password:</label>
            <span>@Model.Item1.EncryptedPassword</span>
        }
        else
        {
            <label>Decrypted Password:</label>
            <span class="encrypted-password">@DecryptPassword(Model.Item1.EncryptedPassword)</span>
        }
    </div>

</div>
@functions {
    public string DecryptPassword(string? encryptedPassword)
    {
        if (encryptedPassword != null)
        {

            byte[] bytes = Convert.FromBase64String(encryptedPassword);
            return Encoding.UTF8.GetString(bytes);
        }

        return string.Empty;
    }
    }


